
/* Notes */
/* Unable to test in Internet Explorer or I would've used conditional commenting to target IE quirks. */
/* Normally images would be combined into a sprite, but time waits for no man. */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

* {margin: 0; padding: 0}
body {background: #fff url(../images/bg-main.png) repeat 0 0; font-family: 'Open Sans', sans-serif; position: relative}
img {display: block}
a img {border: 0}
ul, ol {list-style-type: none}
h1, h2, h3, h4, h5, h6 {font-weight: normal}
.clear {clear: both}
.left {float: left}
.right {float: right}
.center {margin: 0 auto; display: block}
.hide {display: none}
:focus {outline: 0}

/* Outter Wrapper */
/******************************************************************************************************/
.wrap-outter {min-height: 500px; width: 100%; position: absolute; top: 0; left: 0; z-index: 1}
.wrap-outter {
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0))
}

/* Inner Wrapper */
/******************************************************************************************************/
.wrap-inner {width: 860px; margin: 20px auto 0 auto; position: relative; z-index: 2}

/* Header Wrapper */
/******************************************************************************************************/
.wrap-inner-header {padding: 20px 0; background: #4d4d4d}
.wrap-inner-header {
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
	-webkit-border-top-right-radius: 4px; -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px; -moz-border-radius-topleft: 4px;
    border-top-right-radius: 4px; border-top-left-radius: 4px
}
h1 {height: 72px; width: 249px; margin: 0 auto; background: transparent url(../images/bungie-logo.png) no-repeat 0 0}
h1 a {height: 72px; width: 249px; display: block; text-indent: -999px}

/* Navigation Wrapper */
/******************************************************************************************************/
.wrap-inner-nav {height: 36px; background: #e5e5e5}
.wrap-inner-nav {
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0));
}

/* Navigation */
/******************************************************************************************************/
ul.sf-menu {line-height: 36px}
ul.sf-menu li {width: 172px; font-size: 13px; float: left; position: relative}
ul.sf-menu li:hover {visibility: inherit}
ul.sf-menu li a {padding: 0 20px; color: #333; text-decoration: none; border-right: 1px solid #fff; display: block}
ul.sf-menu li a {-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease}
ul.sf-menu li.hov a,
ul.sf-menu li a:hover {background: #333; color: #fff}
ul.sf-menu li a.lt {border: none}
ul.sf-menu ul {width: 192px; position: absolute; top: -999em}
ul.sf-menu ul li {width: 100%}
ul.sf-menu li:hover ul,
ul.sf-menu li.hov ul {left: 0; top: 37px; z-index: 99}
ul.sf-menu li:hover li ul,
ul.sf-menu li.hov li ul,
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.hov li ul {top: -999em}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.hov ul,
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.hov ul {left: 192px; top: 0}
ul.sf-menu li.hov ul li a {background: #666; border-bottom: 1px solid #808080; border-right: none; font-size: 13px; color: #fff}
ul.sf-menu li.hov ul li a:hover,
ul.sf-menu li.hov ul li.hov a {background: #333}
ul.sf-menu li.hov ul li.hov ul li a {background: #262626; border-bottom: 1px solid #4d4d4d; border-right: none; font-size: 13px; color: #fff}
ul.sf-menu li.hov ul li.hov ul li a:hover {background: #000}
ul.sf-menu a.sf-with-ul {padding-right: 2.25em; min-width: 1px}
.sf-sub-indicator {height: 10px; width: 10px; background: transparent url(../images/arrows.png) no-repeat -10px -100px; text-indent: -999em}
.sf-sub-indicator {display: block; position: absolute; top: 1em; right: 20px; overflow: hidden}
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.hov > a > .sf-sub-indicator {background-position: -10px -100px}
ul.sf-menu ul .sf-sub-indicator {background-position:  -10px 0}
ul.sf-menu ul a > .sf-sub-indicator {background-position:  0 0}
ul.sf-menu ul a:focus > .sf-sub-indicator,
ul.sf-menu ul a:hover > .sf-sub-indicator,
ul.sf-menu ul a:active > .sf-sub-indicator,
ul.sf-menu ul li:hover > a > .sf-sub-indicator,
ul.sf-menu ul li.hov > a > .sf-sub-indicator {background-position: -10px 0}

/* Content Wrappers */
/******************************************************************************************************/
.wrap-inner-content {background: #fff; border-top: 1px solid #fff; overflow: hidden}
.wrap-inner-content {
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.10) 5%, rgba(0, 0, 0, 0) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.10) 5%, rgba(0, 0, 0, 0) 100%);
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.10) 5%, rgba(0, 0, 0, 0) 100%);
    -webkit-border-bottom-right-radius: 4px; -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px; -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px; border-bottom-left-radius: 4px
}
.wrap-inner-bg {padding: 0 0 78px 0; background: transparent url(../images/bg-leftcol.png) repeat-y 128px 0; overflow: hidden}

/* Left Column & Navigation */
/******************************************************************************************************/
.inner-left-col {width: 185px; padding: 98px 0 0 0; float: left}
.inner-left-col ul {border-top: 1px solid #d9d9d9}
.inner-left-col ul li {font-size: 13px}
.inner-left-col ul li a {padding: 12px 20px; border-bottom: 1px solid #d9d9d9; color: #333; text-decoration: none; display: block}
.inner-left-col ul li a {-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease}
.inner-left-col ul li a.current,
.inner-left-col ul li a:hover {background: #e5e5e5}
.inner-left-col ul li a span {font-family: 'Tipogram'; font-size: 19px; color: #999; position: relative; top: 2px}

/* Flickr Thumbnails & Colorbox Text */
/******************************************************************************************************/
ul.thumbs li {margin: 0 18px 18px 0; padding: 5px; border: 1px solid #ccc; float: left}
ul.thumbs li {-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease}
ul.thumbs li:hover {background: #d9d9d9; border: 1px solid #999}
#cboxTitle,
#cboxCurrent {font-size: 15px; font-weight: 300}

/* Right Column */
/******************************************************************************************************/
.inner-right-col {width: 635px; padding: 0 20px; float: right}
.even-lines {height: 98px; border-bottom: 1px solid #d9d9d9; position: relative}
h2 {font-size: 32px; font-weight: 300; color: #333; position: absolute; bottom: 15px}
h2 span.ico {font-family: 'Tipogram'; font-size: 40px; color: #999; position: relative; top: 3px}
h3 {margin: 1.4em 0 1em 0; padding: 0 0 10px 0; border-bottom: 1px solid #d9d9d9; font-size: 18px; font-weight: 400; color: #333;}
p {margin: 1.2em 0 0 0; font-size: 13px; line-height: 19px}

/* Footer Wrapper */
/******************************************************************************************************/
.wrap-inner-footer {padding: 15px 0 100px 0}
.wrap-inner-footer p {margin: 0; font-size: 13px; color: #666; float: left}
.wrap-inner-footer ul {float: right}
.wrap-inner-footer ul li {padding: 0 8px; background: transparent url(../images/divider-footer.gif) no-repeat right center; font-size: 13px; float: left}
.wrap-inner-footer ul li:first-child {padding: 0 8px 0 0}
.wrap-inner-footer ul li:last-child {padding: 0 0 0 8px; background: none}
.wrap-inner-footer ul li a {color: #333}
.wrap-inner-footer ul li a:hover {text-decoration: none}










