@font-face {
    font-family: 'Tipogram';
    src: url('tipogram-webfont.eot');
    src: url('tipogram-webfont.eot?#iefix') format('embedded-opentype'),
         url('tipogram-webfont.woff') format('woff'),
         url('tipogram-webfont.ttf') format('truetype'),
         url('tipogram-webfont.svg#Tipogram') format('svg');
    font-weight: normal;
    font-style: normal;

}

